@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spring-mode {
    @apply  bg-[linear-gradient(rgba(0,90,0,0.4),rgba(0,0,0,0.4)),url('https://clipground.com/images/green-leaves-background-clipart-15.jpg')]
            bg-cover bg-center min-h-screen
            rounded-lg shadow-lg;
  }

  .autumn-mode {
    @apply bg-[linear-gradient(rgba(100,77,0,0.4),rgba(200,5,5,0.4)),url("https://clipground.com/images/green-leaves-background-clipart-15.jpg")]
           bg-cover bg-center min-h-screen rounded-lg shadow-lg;
  }

  .btn-responsive {
    @apply w-[33%]
           shadow-[-4px_4px_10px_rgba(0,0,0,0.2)] 
            text-black font-bold bg-white
           dark:bg-[rgba(0,0,0,0.7)] dark:text-white
           rounded transition-all duration-300 
           hover:scale-125 dark:hover:bg-[rgba(250,250,250,0.8)] 
           hover:text-white dark:hover:text-black
           hover:bg-[rgba(0,0,0,0.6)]
            focus:outline-none;
  }

  .hor-line {
    @apply absolute h-4 bg-gray-700 
           dark:bg-gray-300
           dark:opacity-50
           top-1/2 left-0 origin-center 
           transition-all duration-500 
           opacity-90 -translate-y-1/2
           
  }

.ver-line {
    @apply absolute w-4 bg-gray-700 
           dark:bg-gray-300
           dark:opacity-50
           top-0 left-1/2 -translate-x-1/2 
           origin-center transition-all 
           duration-500 opacity-90
  }

  .theme-text {
    @apply text-base md:text-lg lg:text-xl;
}


}
